.venv
*.csv
*.db
*.log
*.sqlite
*.sqlite3
*.pyc
*.pyo
*.pyd
__pycache__
*.egg
*.egg-info
*.dist-info
*.whl
*.DS_Store
*.idea
*.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.coverage
*.suo
data/cache/
*.log.zip